{% extends "layout.html.twig" %}


{% block body %}
    <div class="h-lvh w-screen flex justify-center items-center">
        <h1 class="text-black font-semibold text-5xl">Bienvenue dans UNE Bibliothèque</h1>
    </div>

{% endblock %}