{% extends "layout.html.twig" %}


{% block body %}
    <div class="h-[100vh] w-screen flex justify-center items-center">
        <h1 class="text-black font-semibold text-5xl">Bienvenue dans LA Biblothèque</h1>
    </div>

{% endblock %}