{% extends "layout.html.twig" %}


{% block body %}
    <div class="h-[100vh] w-screen flex justify-center items-center">
        <h1 class="text-black font-semibold text-5xl">Bienvenue dans LA Bibliothèque FOR SURE</h1>
        {% if user_session %}
            <h2>Connecté en tant que {{ user_session }}</h2>
        {% else %}
            <h2>Pas connecté</h2>
{% endif %}
    </div>

{% endblock %}