<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4" defer></script>
    <title>
        {% block title %}
        {{ title }}
        {% endblock %}
    </title>
    {% block stylesheet %}

    {% endblock %}
</head>

<body>
    <header class="bg-black fixed top-0 w-full">
        <nav class="bg-black text-white p-4 font-semibold">
            <ul class="flex flex-row">
                <li class="mr-[38px] text-lg"><a href="#">
                        <h2>BIBLIOTHÈQUE</h2>
                    </a></li>
                <li class="mr-[10px]"><a href="{{ url('auteur') }}">Auteurs</a></li>
                <li><a href="{{ url('livre') }}">Livres</a></li>
                <li><a href="{{ url('connexion') }}">Login</a></li>
            </ul>
        </nav>
    </header>
    {% block body %}

    {% endblock %}
</body>
{% block javascript %}

{% endblock %}

</html>